.stamina {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        font-size: 24px;

        label {
            white-space: normal;
        }
        input {
            color: white;
            padding: 0;
        }
        input.left {
            text-align: right;
            margin-right: 4px;
        }
        input.right {
            text-align: left;
            margin-left: 4px;
        }
        .divider {
            font-size: 16px;
            line-height: 1;
        }
        .stamina-group {
            display: flex;
            align-items: center;
        }
    }
}
